<table class="chessboard" id="chessboard">
    <!-- Remove all tr's below when createElement is fixed - wip for Joachim -->
    <tr id="row0">
        <app-chesspiece [chesspieceType]="'rook'" [row]=0 [column]=0 id="r0p0"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'knight'" [row]=0 [column]=1 id="r0p1"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'bishop'" [row]=0 [column]=2 id="r0p2"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'queen'" [row]=0 [column]=3 id="r0p3"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'king'" [row]=0 [column]=4 id="r0p4"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'bishop'" [row]=0 [column]=5 id="r0p5"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'knight'" [row]=0 [column]=6 id="r0p6"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'rook'" [row]=0 [column]=7 id="r0p7"></app-chesspiece>
    </tr>
    <tr id="row1">
        <app-chesspiece [chesspieceType]="'pawn'" [row]=1 [column]=0 id="r1p0"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" [row]=1 [column]=1 id="r1p1"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" [row]=1 [column]=2 id="r1p2"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" [row]=1 [column]=3 id="r1p3"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" [row]=1 [column]=4 id="r1p4"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" [row]=1 [column]=5 id="r1p5"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" [row]=1 [column]=6 id="r1p6"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" [row]=1 [column]=7 id="r1p7"></app-chesspiece>
    </tr>
    <tr id="row2">
        <app-chesspiece id="r2p0"></app-chesspiece>
        <app-chesspiece id="r2p1"></app-chesspiece>
        <app-chesspiece id="r2p2"></app-chesspiece>
        <app-chesspiece id="r2p3"></app-chesspiece>
        <app-chesspiece id="r2p4"></app-chesspiece>
        <app-chesspiece id="r2p5"></app-chesspiece>
        <app-chesspiece id="r2p6"></app-chesspiece>
        <app-chesspiece id="r2p7"></app-chesspiece>
    </tr>
    <tr id="row3">
        <app-chesspiece id="r3p0"></app-chesspiece>
        <app-chesspiece id="r3p1"></app-chesspiece>
        <app-chesspiece id="r3p2"></app-chesspiece>
        <app-chesspiece id="r3p3"></app-chesspiece>
        <app-chesspiece id="r3p4"></app-chesspiece>
        <app-chesspiece id="r3p5"></app-chesspiece>
        <app-chesspiece id="r3p6"></app-chesspiece>
        <app-chesspiece id="r3p7"></app-chesspiece>
    </tr>
    <tr id="row4">
        <app-chesspiece id="r4p0"></app-chesspiece>
        <app-chesspiece id="r4p1"></app-chesspiece>
        <app-chesspiece id="r4p2"></app-chesspiece>
        <app-chesspiece id="r4p3"></app-chesspiece>
        <app-chesspiece id="r4p4"></app-chesspiece>
        <app-chesspiece id="r4p5"></app-chesspiece>
        <app-chesspiece id="r4p6"></app-chesspiece>
        <app-chesspiece id="r4p7"></app-chesspiece>
    </tr>
    <tr id="row5">
        <app-chesspiece id="r5p0"></app-chesspiece>
        <app-chesspiece id="r5p1"></app-chesspiece>
        <app-chesspiece id="r5p2"></app-chesspiece>
        <app-chesspiece id="r5p3"></app-chesspiece>
        <app-chesspiece id="r5p4"></app-chesspiece>
        <app-chesspiece id="r5p5"></app-chesspiece>
        <app-chesspiece id="r5p6"></app-chesspiece>
        <app-chesspiece id="r5p7"></app-chesspiece>
    </tr>
    <tr id="row6">
        <app-chesspiece [chesspieceType]="'pawn'" id="r6p0"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" id="r6p1"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" id="r6p2"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" id="r6p3"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" id="r6p4"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" id="r6p5"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" id="r6p6"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'pawn'" id="r6p7"></app-chesspiece>
    </tr>
    <tr id="row7">
        <app-chesspiece [chesspieceType]="'rook'" id="r7p0"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'knight'" id="r7p1"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'bishop'" id="r7p2"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'queen'" id="r7p3"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'king'" id="r7p4"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'bishop'" id="r7p5"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'knight'" id="r7p6"></app-chesspiece>
        <app-chesspiece [chesspieceType]="'rook'" id="r7p7"></app-chesspiece>
    </tr>
</table>
