.chessboard {
    margin: 20px;
    border: 25px solid rgb(98,55,40);
}

:host ::ng-deep app-chesspiece {
    position: relative;
    font-size:50px;
    display: table-cell;
    vertical-align:middle;
}

:host ::ng-deep app-chesspiece:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

:host ::ng-deep tr:nth-child(even) app-chesspiece:nth-child(even), :host ::ng-deep tr:nth-child(odd) app-chesspiece:nth-child(odd) {
    background-color: rgb(245,222,179);
}
:host ::ng-deep tr:nth-child(even) app-chesspiece:nth-child(odd), :host ::ng-deep tr:nth-child(odd) app-chesspiece:nth-child(even) {
    background-color: rgb(222,184,135);
}
