<div class="ml-4 mr-4">
    <br/>

    <div class="row">
        <div class="ml-auto"></div>
        <h1>Sorry! We couldn't find that!</h1>
        <div class="ml-auto"></div>
    </div>

    <br/><br/>

    <div class="row">
        <div class="col-md-3 col-sm-12"></div>
        <img class="col-md-6 col-sm-12" src="https://media.giphy.com/media/mPytjcsG3XS4o/source.gif" alt="404-gif" title="404-gif">
        <div class="col-md-3 col-sm-12"></div>
    </div>

    <br/>

    <div class="row">
            <div class="ml-auto"></div>
            <button href="javascript:void(0);" (click)="navigate('/')" class="btn btn-primary"><span [innerHTML]="'home' | feather:16"></span> Return to home</button>
            <div class="ml-auto"></div>
    </div>
</div>
